@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">

        <div class="text-center">

            <form class="form-login">

                <h1>LOG IN</h1>
                <p class="lead">Are you a Notary or a Client?</p>
                <div id="tab" class="btn-group" data-toggle="buttons">
                    <a href="#prices" class="btn btn-default active" data-toggle="tab">
                        <input type="radio">Notary
                    </a>
                    <a href="#features" class="btn btn-default" data-toggle="tab">
                        <input type="radio">Client
                    </a>
                    
                </div>

                <input id="loginEmail" class="form-control" type="email" autofocus="" required="" placeholder="Email Address" />
                <input id="loginPassword" class="form-control" type="password" required="" placeholder="Password" />
                <button id="BtnSignIn" onclick="ClickSignIn()" type="button" class="btn btn-lg btn-primary btn-block"></button>

</form>

        </div>
             


     
     <!--   <div id="UserType">

            <label class="blue">
                <input type="radio" name="UserTypeRadioBtn" />
                <span>Notary</span>
            </label>

            <label class="green">
                <input type="radio" name="UserTypeRadioBtn" />
                <span>Client</span>
            </label>

        </div>
         -->
    </div>
</div>


<script>

    function ClickSignIn() {

        location.href = '@Url.Action("Index", "Dashboard")'

    };





   // $(document).ready(function () {
   //     $.ajax({
   //         type: 'GET',
   //         url: '',
   //         dataType: 'json',
   //         success: function (result) {
   //             for (i = 0; i < result.ReviewTypes.NameX.length; i++) {
   //                 var tBody = document.getElementById('reviewTableBody');
   //                 var ReviewRow = document.createElement('tr');
   //
   //                 var NameTD = document.createElement('td');
   //                 var DescXTD = document.createElement('td');
   //                 var PeriodTD = document.createElement('td');
   //
   //                 NameTD.innerHTML = result.ReviewTypes.NameX[i];
   //                 DescXTD.innerHTML = result.ReviewTypes.ReviewType[i];
   //                 PeriodTD.innerHTML = result.ReviewTypes.DescX[i];
   //
   //                 tBody.appendChild(ReviewRow);
   //
   //                 ReviewRow.appendChild(NameTD);
   //                 ReviewRow.appendChild(DescXTD);
   //                 ReviewRow.appendChild(PeriodTD);
   //             }
   //         },
   //         error: function () { alert('Error:  Not Found.'); }
   //     });
   //
   //
   // */




   // });
</script>

