
@{
    ViewBag.Title = "Clients";
}

<h2>Clients</h2>

<div class="row">
    <div class="col-md-12" style="margin-top: 50px;">

        <div class="panel panel-default panel-orders">
            <div class="table-responsive any-screen">

                <table class="table table-hover orders-table" data-provides="rowlink">
                    <thead>
                        <tr class="orders-table__header-row">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Orders (Total)</th>
                            <th>Orders (Last 30 Days)</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                            <td class="orders-table__order__col orders-table__order__col--num">
                                <div class="hidden">10194</div>
                                <a class="rowlink" href="/orders/305898">1234567890</a>
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--signer">
                                Real Estate Co.
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--appt">

                                <div class="text-muted">123 Main St. Austin, TX 78722</div>
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--client">
                                512-555-1001
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--notary">450</td>
                            <td class="orders-table__order__col orders-table__order__col--docs">
                                <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                                    24
                                </div>
                            </td>                           
                        </tr>

                        <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                            <td class="orders-table__order__col orders-table__order__col--num">
                                <div class="hidden">10194</div>
                                <a class="rowlink" href="/orders/305898">98432</a>
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--signer">
                                In Need of Notaries, LLC
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--appt">

                                <div class="text-muted">554 Congress Ave Austin, TX 78704</div>
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--client">
                                512-123-4567
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--notary">672</td>
                            <td class="orders-table__order__col orders-table__order__col--docs">
                                <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                                    33
                                </div>
                            </td>
                        </tr>

                        <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                            <td class="orders-table__order__col orders-table__order__col--num">
                                <div class="hidden">10194</div>
                                <a class="rowlink" href="/orders/305898">23788</a>
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--signer">
                                Land Holdings Industries
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--appt">

                                <div class="text-muted">699 Comal St. Austin, TX 78702</div>
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--client">
                                512-888-1030
                            </td>
                            <td class="orders-table__order__col orders-table__order__col--notary">210</td>
                            <td class="orders-table__order__col orders-table__order__col--docs">
                                <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                                    10
                                </div>
                            </td>
                        </tr>


                    </tbody>

                </table>


            </div>
        </div>


    </div>


</div>