
@{
    ViewBag.Title = "Notaries";
}

<h2>Notaries</h2>

<div class="row">
            <div class="col-md-12" style="margin-top: 50px;">

                <div class="panel panel-default panel-orders">
                    <div class="table-responsive any-screen">

                        <table class="table table-hover orders-table" data-provides="rowlink">
                            <thead>
                                <tr class="orders-table__header-row">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Verified</th>
                                    <th>Feedback</th>
                                    <th>Orders</th>
                                    <th>City</th>
                                    <th>State</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                                    <td class="orders-table__order__col orders-table__order__col--num">
                                        <div class="hidden">10194</div>
                                        <a class="rowlink" href="/orders/305898">1234567890</a>                                       
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--signer">
                                        Recker, Glenn                                       
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--appt">

                                        <div class="text-muted">Yes</div>
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--client">
                                        100%
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--notary">56</td>
                                    <td class="orders-table__order__col orders-table__order__col--docs">
                                        <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                                            Austin
                                        </div>
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--status">
                                        <div class="orders-table__order__col--status__content">
                                            TX
                                        </div>
                                    </td>
                                </tr>

                                <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                                    <td class="orders-table__order__col orders-table__order__col--num">
                                        <div class="hidden">10194</div>
                                        <a class="rowlink" href="/orders/305898">112233445566</a>                                       
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--signer">
                                        Britton, Christopher                                       
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--appt">

                                        <div class="text-muted">Yes</div>
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--client">
                                        100%
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--notary">49</td>
                                    <td class="orders-table__order__col orders-table__order__col--docs">
                                        <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                                            Austin
                                        </div>
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--status">
                                        <div class="orders-table__order__col--status__content">
                                            TX
                                        </div>
                                    </td>
                                </tr>

                                <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                                    <td class="orders-table__order__col orders-table__order__col--num">
                                        <div class="hidden">10194</div>
                                        <a class="rowlink" href="/orders/305898">0987654321</a>                                        
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--signer">
                                        Wojcik, Mike
                                       
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--appt">

                                        <div class="text-muted">No</div>
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--client">
                                        60%
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--notary">23</td>
                                    <td class="orders-table__order__col orders-table__order__col--docs">
                                        <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                                            Austin
                                        </div>
                                    </td>
                                    <td class="orders-table__order__col orders-table__order__col--status">
                                        <div class="orders-table__order__col--status__content">
                                            TX
                                        </div>
                                    </td>
                                </tr>
                               
                            </tbody>

                        </table>


                    </div>
                </div>


            </div>


        </div>