<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 "> 
            
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

            <marquee behavior="scroll" bgcolor="white" loop="-1" width="100%">
                <i>
                    <font color="blue">
                        Today's date is :                        
                            <span id="time"></span>                       
                    </font>
                </i>
            </marquee>

            <script>
                var today = new Date();
                document.getElementById('time').innerHTML = today;
            </script>

            <div class="panel panel-info">
                <div class="panel-heading" style="height:50px;">

                    <h3 class="panel-title">Test Notary
                        <button type="button" class="btn btn-info" onclick="ClickEditProfile()" style="float: right;">Edit Profile</button>
                    </h3>
                    
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>

                     
                        <div class=" col-md-9 col-lg-9 ">

                            <a href="#" class="btn btn-primary">My Past Signings</a>
                            <a href="#" class="btn btn-primary">My Pending Orders</a>

                            

                            <table class="table table-user-information" style="margin-top: 25px;">
                                <tbody>
                                    <tr>
                                        <td>Specialty:</td>
                                        <td>Real Estate Transactions and Annuity Contracts</td>
                                    </tr>
                                    <tr>
                                        <td>Active Notary Since:</td>
                                        <td>06/23/2010</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>01/24/1982</td>
                                    </tr>                                   
                                    <tr>
                                        <td>Home Address</td>
                                        <td>4503 Elwood Road Austin, TX 78722</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@notary.com">info@notary.com</a></td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>                               
                                        <td>123-4567-890(Mobile)<br><br>555-4567-890(Fax)</td>
                                    </tr>

                                    <tr>
                                        <td>Bio</td>
                                        <td>I'm a notary for the state of Texas for more than 10 years and have completed annuity contract signing, other acknowledgement signing and specializing in real estate transactions.
                                            I cover the metropolitan area surrounding and including Austin, such as, but not limited to, Buda, Kyle, San Marcos, Dripping Springs, Hutto, Taylor, Elgin, Manor, Pflugerville, Round Rock, Georgetown, Cedar Park, and Leander.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <iframe frameborder="0" scrolling="no" marginheight="0"
                                    marginwidth="0" width="300" height="300"
                                    src="https://maps.google.com/maps?hl=en&q=4503 Elwood Rd Austin, TX 78722&ie=UTF8&t=m&z=10&iwloc=B&output=embed">

                            </iframe>

                            
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="email data-toggle=" tooltip" type="button" href="#" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <a data-original-title="linkedin data-toggle=" tooltip" type="button" href="#" class="btn btn-sm btn-primary"><i class="fa fa-linkedin"></i></a>
                    <a data-original-title="facebook data-toggle=" tooltip" type="button" href="#" class="btn btn-sm btn-primary"><i class="fa fa-facebook"></i></a>

                </div>

            </div>
        </div>
    </div>
</div>

<script>   

    function ClickEditProfile() {

        location.href = '@Url.Action("EditProfile", "Notary")'

    };

</script>