
@{
    ViewBag.Title = "EmailLog";
}

<h2>Email Log</h2>

<div>
    <table class="table table-hover orders-table" data-provides="rowlink">
        <thead>
            <tr class="orders-table__header-row">
                <th>Date/Time</th>
                <th>Status</th>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
            <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                <td class="orders-table__order__col orders-table__order__col--num">
                    <div class="hidden">2016/02/08</div>
                    <a class="rowlink" href="/orders/305898">2016/02/09 1:33:12pm CST</a>
                </td>
                <td class="orders-table__order__col orders-table__order__col--signer">
                    Sent
                </td>
                <td class="orders-table__order__col orders-table__order__col--appt">

                  glenn@test.com
                </td>
                <td class="orders-table__order__col orders-table__order__col--client">
                    chris@test.com
                </td>
                <td class="orders-table__order__col orders-table__order__col--notary">Top 10 Crazy Notaries - You'll Never Guess Number 6!!!</td>
                <td class="orders-table__order__col orders-table__order__col--docs">
                    <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                        Sent to Chris.
                    </div>
                </td>
                <td class="orders-table__order__col orders-table__order__col--status">
                    <div class="orders-table__order__col--status__content">
                        Test
                    </div>
                </td>
            </tr>

            <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                <td class="orders-table__order__col orders-table__order__col--num">
                    <div class="hidden">2016/02/08</div>
                    <a class="rowlink" href="/orders/305898">2016/02/06 3:14:03am CST</a>
                </td>
                <td class="orders-table__order__col orders-table__order__col--signer">
                    Pending
                </td>
                <td class="orders-table__order__col orders-table__order__col--appt">

                    chris@test.com
                </td>
                <td class="orders-table__order__col orders-table__order__col--client">
                    mike@test.com
                </td>
                <td class="orders-table__order__col orders-table__order__col--notary">Registration Documents</td>
                <td class="orders-table__order__col orders-table__order__col--docs">
                    <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                        Sent to Mike.
                    </div>
                </td>
                <td class="orders-table__order__col orders-table__order__col--status">
                    <div class="orders-table__order__col--status__content">
                        Test
                    </div>
                </td>
            </tr>

            <tr id="order_305898" data-inactive="false" class="orders-table__order rowlink">
                <td class="orders-table__order__col orders-table__order__col--num">
                    <div class="hidden">2016/02/08</div>
                    <a class="rowlink" href="/orders/305898">2016/02/05 10:10:10am CST</a>
                </td>
                <td class="orders-table__order__col orders-table__order__col--signer">
                    Sent
                </td>
                <td class="orders-table__order__col orders-table__order__col--appt">

                    mike@test.com
                </td>
                <td class="orders-table__order__col orders-table__order__col--client">
                    glenn@test.com
                </td>
                <td class="orders-table__order__col orders-table__order__col--notary">Real Estate Holdings</td>
                <td class="orders-table__order__col orders-table__order__col--docs">
                    <div rel="tooltip" data-original-title="Documents have not been sent to the notary." class="docs docs-not-sent">
                        Sent to Glenn.
                    </div>
                </td>
                <td class="orders-table__order__col orders-table__order__col--status">
                    <div class="orders-table__order__col--status__content">
                        Test
                    </div>
                </td>
            </tr>

        </tbody>

    </table>





</div>
